.main{
    margin: 30px 75px;
    background-color: #fff;
    height: 100%;
    border-radius: 25px;
    padding: 20px 30px;
    box-shadow: 0px 0px 4px 2px #bbb;
    position: relative;
}

.heading{
    background-color:#9F388A;
    border-radius: 35px;
    padding: 5px 15px;
    border: 0px;
    margin: 0px 50px;
}

.heading > h3{
    font-family: 'Sniglet', cursive;
    font-size: 50px;
    font-weight: 600;
    color:#FFB61B;
    margin: 10px;
}

.infoHeader{
    margin-bottom: 20px;
    margin-top: 25px;
    color: #006990;
    font-family: 'Sniglet', cursive;
    font-size: 30px;
}

.infoButtons{
    margin-top: 10px;
    display: inline-flex;
    padding: 5px;
}

.infoButtons > div > button{
    background-color: #FFB61B;
    color: #006990;
    font-family: 'Sniglet', cursive;
    padding: 10px 30px;
    border-radius: 30px;
    box-shadow: 0px 0px 2px 1px #bbb;
    margin: 5px 25px;
    border: 0px;
    font-size: 25px;
}

.infoButtons > div > button:hover{
    box-shadow: 0px 0px 4px 2px #bbb;
}

button:focus {
    outline: none;
}

.kidsInfo{
    position: absolute;
    top: 145px;
    right: 225px;
    background-color: #D7DF21;
    box-shadow: 0px 0px 4px 2px #bbb;
    width: 60%;
    height: 60%;
    border-radius: 20px;
    z-index: 1000;
}

.infoBox{
    margin: 25px;
    border: 2px solid #9F388A;
    font-family: 'Sniglet', cursive;
    text-align: center;
    height: 87%;
    border-radius: 20px;
}

.tipsHeading{
    font-size:26px;
    margin: 25px 0px;
    color: #9F388A;
}

.taskDetails{
    display: grid;
    grid-template-columns: 0.6fr 0.4fr;
    grid-gap: 5px;
    font-size: 22px;
    color: #006990;
    align-items: center;
    margin: 75px 15px;
}

.slideBtns{
    display: inline-flex;
    margin: 10px;
    width: 100%
}

.prevBtn, .nextBtn{
    font-size: 24px;
    background-color: #006990;
    color: #D7DF21;
    font-weight: 600;
    border-radius: 25px;
    padding: 10px 35px;
    box-shadow: 0px 0px 2px 1px #bbb;
    border: 0px;
    width: 100%;
    font-family: 'Sniglet', cursive;
    position: relative;
    margin: 10px;
}

.prevBtn{
    text-align: center;
}

.nextBtn{
    text-align: center;
    margin-right: 20px;
}

.prevBtn:hover{
    box-shadow: -3px 4px 6px 3px #bbb;
}

.nextBtn:hover{
    box-shadow: 3px 4px 6px 3px #bbb;
}

.toggleIcon{
    position: absolute;
    right: 2%;
    width: 40px;
    height: 30px;
    top: 22%;
}

.toggleLeftIcon{
    position: absolute;
    left: 0%;
    width: 40px;
    height: 30px;
    top: 22%;
}

.goInfo{
    font-size: 24px;
    background-color: #FFB61B;
    color: #006990;
    font-weight: 600;
    border-radius: 25px;
    padding: 10px 25px;
    box-shadow: 0px 0px 2px 1px #bbb;
    border: 0px;
    width: 100%;
    font-family: 'Sniglet', cursive;
    margin-right: 25px;
}

.goInfo:hover{
    box-shadow: 0px 0px 6px 3px #bbb;
}

.closeInfo{
    background-color:#9F388A;
    color: white;
    position: absolute;
    border: 0px;
    border-radius: 15px;
    top: -4%;
    right: -2%;
}

.closeIcon{
    width: 30px;
    height: 35px;
}


.notKidsInfo{
    position: absolute;
    top: 145px;
    right: 145px;
    background-color: #D7DF21;
    box-shadow: 0px 0px 4px 2px #bbb;
    width: 75%;
    height: 70%;
    border-radius: 20px;
    z-index: 1000;
}

.notKidsPage{
    padding: 10px;
    align-items: center;
    color: #006990;
}

.infoDetails{
    display: grid;
    grid-template-columns: 0.6fr 0.4fr;
    grid-gap: 5px;
    margin: 55px 15px;
    font-size: 22px;
}

.show{
    display: initial;
}

.noShow{
    display: none;
}